<!-- message success -->
<!-- <div class="toast">
  <p-toast baseZIndex="5000" position="top-right" />
</div> -->

<div class="card group" data-aos-anchor-placement="center-bottom">
  <div class="card-head relative cursor-pointer flex justify-center" [routerLink]="['/productDetailes', product?._id]">
    <div class="img relative">
      @if(product?.priceAfterDiscount){
      <div class="page-discount absolute top-5 start-3">
        <small class="text-white text-[10px] bg-red-600 rounded-xl p-2">
          {{ this.getDiscount() }} %
        </small>
      </div>
      }
      <img [src]="product?.imageCover" class="border border-gray-300 size-[300px] object-cover"
        [alt]="product?.title" />
    </div>
    <div
      class="overlay opacity-0 group-hover:opacity-100 transition absolute top-1/2 start-1/2 -translate-x-1/2 group-hover:-translate-y-1/2 flex gap-3">
      <a (click)="addProductToCart(product?._id!, $event)"
        class="cart p-3 rounded-full inline-flex justify-center items-center bg-white hover:bg-white/80 text-black">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <a (click)="addToWishList(product?._id!, $event)"
        class="wish p-3 rounded-full inline-flex justify-center items-center bg-white hover:bg-white/80 text-black">
        <i class="fa-regular fa-heart"></i>
      </a>
    </div>
  </div>
  <div class="card-body text-center mt-2 px-5">
    <h6 class="text-sm text-meuted">{{ product?.brand?.name }}</h6>
    <h4 class="font-semibold">
      {{ product?.title?.split(" ", 2)?.join(" ") }}
    </h4>
    <div class="price flex gap-3 justify-center">
      <span [class]="{ 'line-through': product?.priceAfterDiscount }" class="font-bold text-xl text-red-700">{{
        product?.price }}</span>
      <span class="text-red-700 font-bold text-xl">{{ product?.priceAfterDiscount }}
        <span class="text-sm">EGP</span></span>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p>
        <span class="text-meuted"> Avalabile :</span>
        <span class="text-primary"> {{ product?.quantity }}</span>
      </p>

      <div class="stars flex gap-1">
        @for (star of getStarArray(product?.ratingsAverage!); track $index) {
        <i [ngClass]="
            star
              ? 'pi pi-star-fill text-yellow-500'
              : 'pi pi-star text-gray-400'
          "></i>
        }
      </div>
    </div>
    <!-- <div class="rangeAvalabal">
      <p-progressbar
        [value]="10"
        [style]="{
          backgroundColor: product!.quantity > 100 ? 'green' : 'red'
        }"
      />
    </div> -->
    <button (click)="addProductToCart(product?._id!, $event)"
      class="bg-primary w-2/3 rounded-md text-white py-2 mt-5 cursor-pointer hover:bg-secondery transition">
      @if (isProductAdd) {
      <span class="fa-solid fa-spin fa-spinner"></span>
      }@else {
      <span>Add To Cart</span>
      }
    </button>
  </div>
</div>