<a (click)="getWishListItems()"
  class="border-black/30 inline-flex items-center border-e-[1px] pe-3 text-black/70 hover:text-black transition">
  <span class="relative pe-2">
    <i class="fa-regular fa-heart text-2xl"></i>

    <span
      class="absolute -top-1/2 end-0 py-1 size-[20px] flex justify-center items-center border border-green-800 bg-green-400 text-white rounded-full text-[12px]">
      {{ wishlistProductsNumber() }}
    </span>
  </span>
  <span class="ms-2 font-semibold hidden md:block">wishlist </span>
</a>
<!--drawer to wish list -->
<div class="wishlist-container">
  <p-drawer header="Wist List" [(visible)]="visible" position="left" [style]="{ 'z-index': '9999999999' }">
    @if (wishListProducts?.length) {
    <div class="p-3 space-y-4 ">
      @for (product of wishListProducts; track product._id) {
      <div class=" border-b pb-3 flex justify-between  flex-col gap-3">
        <div class="flex items-center gap-3">
          <img [src]="product.imageCover" alt="{{ product.title }}" class="w-16 h-16 object-cover rounded" />
          <div class="flex-1">
            <h3 class="font-bold">
              {{product.category.name}}
            </h3>
            <div class="flex justify-between mt-3">
              <h4 class="font-semibold text-sm">{{ product.title.split(' ' , 2).join(' ') }}</h4>
              <p class="text-gray-500 text-xs">{{ product.price }}$</p>
            </div>
          </div>
        </div>
        <div class="flex justify-between flex-col w-full ">
          <button (click)="removeFormWishList(product._id)"
            class="text-white bg-red-600 rounded-xl text-sm px-4 mb-2 py-2 cursor-pointer hover:bg-red-800 transition w-2/5 ">Delete</button>
          <button (click)="addToProductCart(product._id)"
            class="text-white bg-primary rounded-xl text-sm px-4 py-2 cursor-pointer hover:bg-secondery transition w-3/5   text-nowrap">Add
            To
            Cart</button>
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="p-3 text-gray-500">No items in wishlist.</div>
    <span routerLink="/products" (click)="visible=false"
      class="block w-3/5 text-white bg-primary hover:bg-secondery cursor-pointer transition py-2 text-center rounded-xl  mt-5">
      Go To Shop
    </span>
    }
  </p-drawer>
</div>