@font-face {
  font-family: "Gabarito", sans-serif;
  src: url(/fonts/Gabarito/Gabarito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Rethink Sans", sans-serif;
  src: url(/fonts/Pethink_Sans/RethinkSans-VariableFont_wght.ttf);
}
