<section class="banner py-4">
  <div class="container mx-auto">
    <h2 class="text-4xl font-semibold mb-10">shop</h2>
    <div class="img relative">
      <img
        src="/images/black-firday.jpg"
        class="w-full h-[300px] md:h-[500px]"
        alt="banner image"
      />
      <div class="overlay absolute inset-0">
        <div
          [pTooltip]="tooltipContent"
          severity="success"
          tooltipPosition="left"
          class="showMore size-[30px] rounded-full hidden md:flex cursor-pointer justify-center items-center bg-white absolute end-20 bottom-20"
        >
          <i class="fa-solid fa-plus text-xl font-semibold"></i>
        </div>
        <ng-template #tooltipContent>
          <div class="flex items-center flex-col gap-3">
            <h4 class="text-xl font-bold capitalize">offer sale</h4>
            <span> <b>visit</b> and shop</span>
          </div>
        </ng-template>
        <div
          [pTooltip]="tooltipContent2"
          severity="success"
          tooltipPosition="left"
          class="showMore size-[30px] rounded-full hidden md:flex cursor-pointer justify-center items-center bg-white absolute end-10 top-20"
        >
          <i class="fa-solid fa-plus text-xl font-semibold"></i>
        </div>
        <ng-template #tooltipContent2>
          <div class="flex items-center flex-col gap-3">
            <h4 class="text-xl font-bold capitalize">see all products</h4>
            <span> <b>visit</b> and shop</span>
          </div>
        </ng-template>
        <div
          [pTooltip]="tooltipContent2"
          severity="success"
          tooltipPosition="right"
          class="showMore size-[30px] rounded-full hidden md:flex cursor-pointer justify-center items-center bg-white absolute end-1/2 top-1/2"
        >
          <i class="fa-solid fa-plus text-xl font-semibold"></i>
        </div>
        <ng-template #tooltipContent2>
          <div class="flex items-center flex-col gap-3">
            <h4 class="text-xl font-bold capitalize">see all products</h4>
            <span> <b>visit</b> and shop</span>
          </div>
        </ng-template>
        <a
          routerLink="/products"
          class="text-xl capitalize md:text-2xl text-nowrap bg-white px-8 py-2 block w-fit hover:bg-primary hover:text-white transition rounded-md absolute start-10 md:start-20 2xl:start-30 bottom-4 md:bottom-10"
        >
          shop now
          <span
            class="fa-solid fa-arrow-right inline-block ms-4 text-xl"
          ></span>
        </a>
      </div>
    </div>
  </div>
</section>
<!--* Start all catergries section  -->
<section class="all-categories my-20">
  @if(categoriesData != null){
  <div class="container mx-auto">
    <div class="cat-container relative">
      <owl-carousel-o [options]="customOptions" class="custom-owl" #owlCarsouel>
        @for (cat of categoriesData; track cat._id ) {
        <ng-template carouselSlide>
          <div
            (click)="categoreFilter(cat._id)"
            class="inner flex flex-col items-center cursor-pointer"
            [routerLink]="[]"
            fragment="porducts-section"
          >
            <div
              class="img flex flex-col justify-center size-[300px] md:size-[200px] rounded-full border border-primary overflow-hidden"
            >
              <img [src]="cat.image" [alt]="cat.slug" class="" />
            </div>
            <h4 class="mt-7 text-2xl w-fit pb-3">{{ cat.name }}</h4>
          </div>
        </ng-template>
        }
      </owl-carousel-o>
      <div class="owl-buttons justify-between hidden md:flex">
        <div
          (click)="goPrev()"
          class="arrow cursor-pointer size-[60px] bg-white border border-primary hover:bg-primary hover:text-white transition rounded-full aspect-square flex items-center justify-center text-3xl"
        >
          <span class="owl-prev fa-solid fa-angle-left"></span>
        </div>
        <div
          (click)="goNext()"
          class="arrow cursor-pointer size-[60px] bg-white border border-primary hover:bg-primary hover:text-white transition rounded-full aspect-square flex items-center justify-center text-3xl"
        >
          <span class="owl-next fa-solid fa-angle-right"></span>
        </div>
      </div>
    </div>
  </div>
  }
</section>
<!--* End all catergries section  -->

<!--*  Start Product and filter section  -->
<app-shared-products></app-shared-products>
<!--*  End Product and filter section  -->
