<footer class="py-5 lg:pt-22 bg-gray-200/30 px-5 sm:px-0">
  <div class="container mx-auto">
    <div
      class="bggrid subscribe grid grid-cols-1 md:grid-cols2 lg:grid-cols-3 xl:grid-cols-5"
    >
      <div class="flex items-start gap-4">
        <img src="/logo.png" class="w-[50px] md:w-[100px] block mb-3" alt="" />
        <p class="mt-5">
          The All-in-one <br />
          Haypar Shop
        </p>
      </div>
      <div>
        <h3 class="text-xl">Useful Links</h3>
        <div class="flex flex-col gap-2 mt-4">
          <a class="underline text-black/80 hover:text-primary transition">
            Legal & Privacy
          </a>
          <a class="underline text-black/80 hover:text-primary transition"
            >Contact
          </a>
          <a class="underline text-black/80 hover:text-primary transition">
            Gift Card
          </a>
          <a class="underline text-black/80 hover:text-primary transition">
            Customer Service
          </a>
          <a class="underline text-black/80 hover:text-primary transition">
            Find a Store
          </a>
        </div>
      </div>
      <div>
        <h3 class="text-xl">Categories</h3>
        <div class="flex flex-col gap-2 mt-4">
          <a
            routerLink="/categories"
            class="underline text-black/80 hover:text-primary transition"
          >
            Men's Fashion
          </a>
          <a
            routerLink="/categories"
            class="underline text-black/80 hover:text-primary transition"
            >Women's Fashion
          </a>
          <a
            routerLink="/categories"
            class="underline text-black/80 hover:text-primary transition"
          >
            Electronics
          </a>
          <a
            routerLink="/categories"
            class="underline text-black/80 hover:text-primary transition"
          >
            Mobiles
          </a>
          <a
            routerLink="/categories"
            class="underline text-black/80 hover:text-primary transition"
          >
            SuperMarket
          </a>
        </div>
      </div>
      <div>
        <h3 class="text-xl">My Account</h3>
        <div class="flex flex-col gap-2 mt-4">
          <a class="underline text-black/80 hover:text-primary transition">
            My Profile
          </a>
          <a
            routerLink="allorders"
            class="underline text-black/80 hover:text-primary transition"
            >My Order History
          </a>
          <a
            routerLink="cart"
            class="underline text-black/80 hover:text-primary transition"
          >
            Order Tracking
          </a>
          <a class="underline text-black/80 hover:text-primary transition">
            My Wishlist
          </a>
        </div>
      </div>
      <div>
        <p>To submit complaints and inquiries, please contact the number</p>
        <p class="text-primary text-4xl mt-10 font-bold">
          <i class="fa-solid fa-phone-volume"></i>
          <span> 01010101010 </span>
        </p>
      </div>
    </div>
    <div
      class="pay-and-social flex flex-wrap justify-between pt-10 mt-10 border-t-1 border-black/10"
    >
      <div class="payment text-center w-full md:w-auto mb-4 md:mb-0">
        <h5>Payment Parteners</h5>
        <div
          class="parteners flex items-center gap-3 justify-center md:justify-start"
        >
          <a href="#">
            <img
              src="/images/amazon-pay.png"
              class="w-[70px]"
              alt="amazon pay "
            />
          </a>
          <a href="#">
            <img
              class="w-[70px]"
              src="/images/American-Express-Color.png"
              alt="american express"
            />
          </a>
          <a href="#">
            <img
              src="/images/mastercard.webp"
              class="w-[70px]"
              alt="mastercard"
            />
          </a>
          <a href="#">
            <img src="/images/paypal.png" class="w-[70px]" alt="paypal" />
          </a>
        </div>
      </div>
      <div
        class="store border-s-0 border-e-0 md:border-e-1 md:border-s-1 border-black/20 px-2 md:px-10"
      >
        <p class="mb-3">Get Delevries With FreshCart</p>
        <div class="flex items-start">
          <a href="#">
            <img src="/images/get-apple-store.png" class="w-[100px]" alt="" />
          </a>
          <a href="#">
            <img src="/images/get-google-play.png" class="w-[100px]" alt="" />
          </a>
        </div>
      </div>
      <div class="social-media">
        <p class="w-fit ms-auto">Follow Us :</p>
        <div class="social">
          <a href="#" class="text-xl me-2">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" class="text-xl me-2">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#" class="text-xl me-2">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="#" class="text-xl me-2">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="#" class="text-xl me-2">
            <i class="fa-brands fa-telegram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
