:host {
  ::ng-deep .p-select-label.p-placeholder {
    color: #fff !important;
  }
  ::ng-deep .p-iconwrapper {
    color: #fff !important;
  }
  ::ng-deep .p-select-label {
    color: #fff !important;
  }
}
