section.brands {
  .rows {
    .box {
      img {
        &:hover {
          animation: light 3s ease-in infinite;
          -webkit-animation: light 3s ease-in infinite;
          //   box-shadow: 0px 0px 4px 1px var(--color-primary);
        }
        transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -o-transition: all 300ms linear;
      }
    }
    .brand-ltr {
      left: 100%;
      animation: go-ltr 30s linear infinite alternate;
      -webkit-animation: go-ltr 30s linear infinite alternate;
    }
    .brand-rtl {
      right: 100%;
      animation: go-rtl 30s linear infinite alternate;
      -webkit-animation: go-rtl 30s linear infinite alternate;
    }
  }
}
@keyframes light {
  0% {
    box-shadow: 0px 0px 4px 1px var(--color-primary);
  }
  70% {
    box-shadow: 0px 0px 10px 3px var(--color-primary);
  }
  100% {
    box-shadow: 0px 0px 4px 1px var(--color-primary);
  }
}

@keyframes go-ltr {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes go-rtl {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
