<!-- message success and error  -->
<div class="message">
  <p-toast />
</div>
<!-- div of form design  -->
<section class="forget-password">
  <div class="container mx-auto h-screen">
    <div class="forget-container grid grid-cols-1 lg:grid-cols-2 w-full pt-32">
      <div class="img hidden lg:block">
        <img
          src="/images/forget-pass.svg"
          class="w-full"
          alt="forget password photo"
        />
      </div>
      <div class="form pt-16 2xl:pt-20 text-center lg:text-start text-white/90">
        <h2 class="capitalize text-4xl sm:text-6xl tracking-widest mb-4">
          forget <br />
          password ?
        </h2>
        <p class="mb-10">Don’t worry, we’ll help you reset it.</p>
        <form (ngSubmit)="sendRequist()" [formGroup]="forgetFormObj">
          <p-floatlabel variant="on">
            <input
              type="email"
              pInputText
              formControlName="email"
              name="uemail"
              id="on_label"
              autocomplete="off"
              class="w-full!"
            />
            <label for="on_label" class="text-primary!">Enter Your Email</label>
          </p-floatlabel>
          @if(forgetFormObj.get('email')?.getError('email') &&
          forgetFormObj.get('email')?.touched){
          <p class="text-red-700 mt-3 ms-1">Email Is Not Valid</p>
          }
          <button
            [disabled]="!forgetFormObj.valid && isLoading"
            class="w-1/3 lg:w-fit mx-auto lg:ms-auto block mt-4 px-10 font-bold cursor-pointer py-3 bg-primary disabled:cursor-default disabled:bg-primary/30 rounded-2xl"
          >
            @if(!isLoading){
            <span>Send</span>
            }@else {
            <span class="fa-solid fa-spinner fa-spin"></span>
            }
          </button>
          <p-toast class="z-50!" />
        </form>
      </div>
    </div>
  </div>
</section>
